@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$brand-color: #C6161F;

/// General Styling \\\
body {
	background-color: #F7F7F7;
	color: #000;
	font-family: "Barlow", "Segoe UI", "Arial", sans-serif;
	margin: 0;
}

a {
	color: #FFB200;
	text-decoration: none;
}

/// Form elements \\\
input[type=text], input[type=password] {
	background-color: white;
	color: #black;
	border: 1px solid #d4d4d4;
	padding: 5px;
}

/// Header & Footer \\\

header, footer {
	background-color: $brand-color;
}

footer {
	padding: 15px 0;
}

.container {
	max-width: 1280px;
	margin: 20px auto;
	padding: 0 20px;
	min-height: calc(100vh - 169px);
}

footer {
	max-height: 50px;
	min-height: 50px;
	line-height: 1.4;
	text-align: center;
}

/// Login/Register box \\\

.loginbox {
	background-color: #fafafa;
	padding: 20px;
	margin: 20px auto;
	width: 350px;
	border: 1px solid #ccc;
}

.error {
	color: #ff0000;
}

.banner {
	padding: 10px;
	font-weight: bold;
	margin: 5px;

	&.b-red {
		background-color: #ae1313;
		color: white;
	}

	&.b-green {
		background-color: #13ae13;
		color: white;
	}

	&.userban {
		margin: 0;
	}
}

.top, .footer {
	margin-top: 0px;
	overflow: hidden;
	padding: 10px 8px;
}

.top {
	height: 32px;
	border-top-width: 0;
}

.footer {
	text-align: center;
}

.picon {
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 5px;
}

ul.menu {
    display: table;
	line-height: 32px;
	text-align: center;
    margin: auto;

	li {
		list-style-type: none;
		float: left;
		overflow: hidden;
		margin: 0px 5px;
	}

	&.right li {
		float: right;
		font-style: italic;
		padding-right: 4px;

		.notifs {
			color: #20aa20;
			font-weight: bold;
		}
	}

	a {
		display: inline-block;
		color: #222;
		font-size: 1.1em;
		font-weight: bold;
		text-decoration: none;
		padding: 0px 5px;

		&:hover {
			background-color: #fff;
		}
	}

	a.download {
		color: #20aa20;
	}

	img.search {
		vertical-align: middle;
		width: 18px;
		height: 18px;
	}
}

.header a {
	float: right;
}

.header_message {
	border-bottom: 1px solid #ccc;
	padding: 10px;
}

div.level {
	background-color: #fff;
	display: inline-block;
	position: relative;
	overflow: clip;
	width: 230px;
	height: 200px;
	padding: 2px;
	vertical-align: top;

	border: 1px solid #444;
	border-radius: 4px;
	margin-bottom: 10px;

	a.lvlbox_top {
		color: black;
		font-size: 14pt;
		text-decoration: none;
		overflow: hidden;
		max-height: 230px;

		span.featured {
			position: absolute;
			top: 4px;
			right: 4px;
			color: #ffffee;
			background-color: rgba(1, 0, 1, 0.5);
		}

		img {
			width: 230px;
			height: 125px;
			border-radius: 4px 4px 0px 0px;
		}
	}
	.user {
		position: absolute;
		top: 183px;
		text-decoration: none;
		margin-left: 2px;
	}
	.likes {
		float: right;
		text-align: right;
	}
}

.content {
	background-color: #dfdfdf;
    background-repeat: repeat-x;
	border: 1px #797979 solid;
	padding: 0 5px 5px 5px;
}

.comments {
	.comment-entry {
		padding: 7px 8px;
		border-bottom: 1px solid #ccc;
		overflow-wrap: break-word;
		max-height: 130px;
		overflow: auto;
		line-height: 1.4;

		&:nth-child(odd)  { background-color: #f5f5f5; }
		&:nth-child(even) { background-color: #e8e8e8; }

		&.deleted {
			background-color: #ffcccc;

			&:after {
				content: "(deleted comment)";
				color: #333;
				font-style: italic;
			}
		}

		p {
			margin: 0;
			margin-bottom: 0.1em;
		}
		span.date, span.delete {
			float: right;
			margin-left: 10px;
		}
		span.delete {
			margin-left: 5px;
		}
	}
}

.comment-input {
	width: 96%;
	margin: 4px;
	padding-bottom: 4px;
	border: 1px solid #bbb;
	padding: 3px;
	min-height: 40px;
}

// Buttons for the Latest Levels page \\
.latest-buttons a {
	border: 2px outset black;
	border-radius: 8px;
	color: black;
	padding: 5px;
	margin: 2px;
	margin-bottom: 1em;
	display: inline-block;

	&:hover {
		border: 2px inset black;
		background-color: #dddddd;
	}
	&.sel {
		background-color: #ccccff;

		&:hover {
			border: 2px inset black;
			background-color: #bbbbee;
		}
	}
}

// Common register and login form styles \\
form.reglog {
	p {
		margin-block-start: 0.5em;
		margin-block-end: 0.5em;
	}
	span {
		display: inline-block;
		width: 120px;
	}
}

.t_user {
	color: #0000aa;
	font-weight: bold;
}

.lvl-box {
	clear: both;
	margin-top: 1em;
	min-height: 280px;
	overflow: hidden;
	position: relative;
	width: 100%;

	.img {
		width: 45%;
		position: absolute;

		overflow-y: auto;
		overflow-x: hidden;
		white-space: nowrap;
		max-height: 260px;

		img {
			width: 100%;
		}

		.revision {
			background-color: rgba(200, 255, 200, 0.5);
			color: #000;
			font-size: 0.8em;
			font-weight: bold;
			padding: 4px;
			position: absolute;
			top: 0%;
			left: 0%;
		}
	}

	.info {
		background-color: #fafafa;
		float: left;
		left: 45%;
		margin-left: 1em;
		padding: 1em;
		position: relative;
		width: 50%;

		// Play & Edit buttons \\
		.play {
			background-color: #ded;
			border: none;
			color: #454;
			display: inline-block;
			font-weight: bold;
			margin: 0;
			margin-right: 0.5em;
			padding: 10px 20px;

			&:hover {
				box-shadow: 0 0px 4px #666;
			}
		}

		.play-edit {
			background-color: #dde;
		}

		.likemsg {
			display: inline-block;
			margin-right: 1em;
		}
	}
}

.lvl-data {
	background-color: #fff;

	p {
		margin: 0;
		padding: 1em;
	}
}

.dl {
	border-collapse: collapse;

	td {
		border: 1px solid black;
		padding: 7px;
	}
}

.noborder {
	border: 0;
}

.center {
	text-align: center;
}

// Pagination \\
.pagination {
	margin-top: 1em;
	font-size: 14pt;

	&:before {
		content: "Pages: ";
	}

	span {
		font-weight: bold;
		margin-right: 5px;
	}
}

// Settings \\

.settings {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 10px;

	.a {
		text-align: center;
		width: 300px;
	}

	.a, .b {
		border-bottom: 1px solid #ccc;
		padding: 5px;
	}

	tr {
		&:nth-child(odd)  { background-color: #f5f5f5; }
		&:nth-child(even) { background-color: #e8e8e8; }
	}
}

// Welcome Thing on Index \\

.skit {
	border-bottom: 1px solid #ccc;
	display: block;
	text-align: center;
}

// Community level archive page specific styles\\

.cummunity-levelz {
	margin: 0;
	li {
		list-style-type: none;
		margin: 0;
		margin-bottom: 10px;

		span {
			background-color: #ddd;
			display: inline-block;
			font-weight: bold;
			padding: 10px 20px;
			width: 700px;
			word-break: break-all;
		}

		a {
			background-color: #ded;
			border: none;
			color: #454;
			display: inline-block;
			font-weight: bold;
			margin: 0;
			margin-right: 0.5em;
			padding: 10px 20px;
			width: 100px;
			text-align: center;

			&:hover {
				box-shadow: 0 0px 4px #666;
			}
		}
	}
}

/// Generic text aligns \\\

.left	{ text-align: left; }
.center	{ text-align: center; }
.right	{ text-align: right; }

.clear_right { clear: right; }


/// User page \\\
.user_about {
	margin-bottom: 1em;
}

.user_stats {
	margin-right: 20px;
	margin-left: 10px;
	border: 1px solid black;
	width: 300px;
	float: right;

	.topthing {
		background: #3367aa;
		padding: 7px;
	}

	.row {
		border-top: 1px solid black;
		padding: 10px;
		display: block;

		.pad {
			float: right;
		}
	}
}

/// Forums \\\
@import "_style_forums";
