<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<title>Chaziz Codename Web</title>

	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
	<header>
		<div class="top">
			<a href="/"><img class="picon" src="/assets/icon.png"/></a>
			<ul class="menu left">
				<li><a href="/popular.php" class="btn">Popular</a></li>
				<li><a href="/top.php" class="btn">Top</a></li>
				<li><a href="/latest.php" class="btn">New</a></li>
				<li><a href="/chat.php" class="btn">Chat</a></li>
				{% if glob_forum %}<li><a href="/forum/" class="btn">Forum</a></li>{% endif %}
				<li><a href="/contests.php" class="btn">Contests</a></li>
				<li><a href="/search.php" class="btn"><img src="/assets/icons/search.svg" class="search"></a></li>
				<li>
					{% if log %}
						{{ userlink(userdata) }}
						{% if notification_count > 0 %}
							<span class="notifs">[{{ notification_count }}]</span>
						{% endif %}
					{% else %}
						<a href="/login.php">Login</a>
					{% endif %}
				</li>
			</ul>
		</div>
	</header>

	<div class="container">
		{% block content %}{% endblock %}
	</div>

	<footer>
		Powered by codename-web<br>
		{{ profiler_stats() }}
	</footer>
</body>
</html>
